<!--

    SPDX-FileCopyrightText: Copyright The Thingsboard Authors
    SPDX-License-Identifier: Apache-2.0

-->
<div class="tb-entity-groups">
  @if (!isTenantAdmin()) {
    <div class="tb-entity-groups-hint" translate>entity-group.tenant-admin-only</div>
  }
  @if (isTenantAdmin()) {
    <mat-card appearance="outlined" class="tb-entity-groups-card">
      <div class="tb-entity-groups-header">
        <span class="tb-entity-groups-title">{{ groupTitle() | translate }}</span>
        <span class="flex-1"></span>
        <button mat-icon-button type="button" (click)="load()"
                [matTooltip]="'entity-group.refresh' | translate">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button color="primary" type="button" (click)="openGroupDialog()">
          <mat-icon>add</mat-icon>
          {{ 'entity-group.add' | translate }}
        </button>
      </div>
    <table mat-table [dataSource]="displayedGroups" class="mat-elevation-z0 tb-entity-groups-table">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [checked]="isAllSelected()" (change)="toggleAll()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let group">
          <mat-checkbox [checked]="selection.isSelected(group)" (change)="selection.toggle(group)"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef>{{ 'entity-group.created-time' | translate }}</th>
        <td mat-cell *matCellDef="let group">
          {{ group.createdTime ? (group.createdTime | date: 'yyyy-MM-dd HH:mm:ss') : '' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'entity-group.name' | translate }}</th>
        <td mat-cell *matCellDef="let group">{{ group.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'entity-group.description' | translate }}</th>
        <td mat-cell *matCellDef="let group">{{ group.description }}</td>
      </ng-container>
      <ng-container matColumnDef="publicGroup">
        <th mat-header-cell *matHeaderCellDef>{{ 'entity-group.public' | translate }}</th>
        <td mat-cell *matCellDef="let group">
          <mat-checkbox [checked]="group.publicGroup" disabled></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="members">
        <th mat-header-cell *matHeaderCellDef>{{ 'entity-group.members' | translate }}</th>
        <td mat-cell *matCellDef="let group">{{ group.entityIds?.length || 0 }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let group">
          <button mat-icon-button type="button" (click)="togglePublic(group)"
                  [matTooltip]="(group.publicGroup ? 'entity-group.make-private' : 'entity-group.make-public') | translate">
            <mat-icon>{{ group.publicGroup ? 'lock_open' : 'lock' }}</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="addMembers(group)"
                  [matTooltip]="'entity-group.add-members' | translate">
            <mat-icon>playlist_add</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="openGroupDialog(group)"
                  [matTooltip]="'entity-group.edit' | translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="removeGroup(group)"
                  [matTooltip]="'entity-group.delete' | translate">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    @if (!groups.length) {
      <div class="tb-entity-groups-empty">{{ 'entity-group.no-groups' | translate }}</div>
    }
    <mat-paginator [length]="groups.length"
                   [pageIndex]="page"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)"
                   showFirstLastButtons></mat-paginator>
    </mat-card>
  }
</div>
